body {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto repeat(3, auto); /* Adjust the number 3 based on gridSize */
  gap: 5px;
}

.grid-header-cell {
  text-align: center;
}

.movie-poster {
  width: 100px;
  height: 150px;
}

.movie-name {
  /* Add styling for movie name text if needed */
}

.grid-cell {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.grid-corner-cell {
  /* Style for the top-left corner empty cell */
}

.grid-row-title {
  text-align: center;
  /* Additional styling for row title if needed */
}

